In [2]:
%matplotlib inline 

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm

import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

C:\Users\imamk\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
data = pd.read_csv("train.csv")

In [6]:
data.head()

,portfolio_id,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,creation_date,indicator_code,sell_date,type,hedge_value,status,return
0,PF00001002,DSK00001001,OFF00001002,B,20040720,110000000.0,T,0.02074,USD,2.332216,1.098097e+08,20040720,NaN,20040812,B,NaN,NaN,0.02496
1,PF00001003,DSK00001002,OFF00001001,A,20040709,176671000.0,N,0.02074,GBP,5.269617,1.760084e+08,20040723,NaN,20040812,C,NaN,NaN,0.05496
2,PF00001005,DSK00001004,OFF00001001,A,20040723,56474000.0,T,0.02074,USD,2.332216,5.637953e+07,20040723,NaN,20040817,A,NaN,NaN,0.02496
3,PF00001006,DSK00001005,OFF00001001,A,20040609,164813000.0,T,0.02074,USD,2.332216,1.645088e+08,20040723,NaN,20040713,A,NaN,NaN,0.02496
4,PF00001007,DSK00001005,OFF00001002,B,20040609,140800000.0,T,0.02074,USD,2.332216,1.405402e+08,20040723,NaN,20040713,B,NaN,NaN,0.02496

In [28]:
#all portfolios unique | desks are not.
port = (data.portfolio_id.unique())
desk = (data.desk_id.unique())

In [32]:
print len(port),len(desk)*2

9366 7986

In [33]:
category = data.pf_category.unique()

In [34]:
category

array(['B', 'A', 'C', 'D', 'E'], dtype=object)

In [61]:
len(data[data.status == True])

6282

In [37]:
data.describe()

,start_date,sold,euribor_rate,libor_rate,bought,creation_date,sell_date,return
count,9.366000e+03,9.364000e+03,9366.000000,8892.000000,9.364000e+03,9.366000e+03,9.366000e+03,9366.000000
mean,2.011706e+07,1.019740e+08,0.009383,0.998066,1.018914e+08,2.011706e+07,2.011770e+07,0.014100
std,3.052996e+04,1.928066e+08,0.013298,1.457977,1.927472e+08,3.052372e+04,3.060900e+04,0.020549
min,2.004041e+07,1.100000e+00,-0.003740,-0.667095,1.099698e+00,2.004072e+07,2.004071e+07,-0.009600
25%,2.010020e+07,2.763200e+07,0.000980,0.244490,2.761285e+07,2.010020e+07,2.010023e+07,0.003000
50%,2.011120e+07,5.517050e+07,0.004390,0.531983,5.512056e+07,2.011120e+07,2.011121e+07,0.005400
75%,2.014071e+07,1.144632e+08,0.013510,1.109959,1.144459e+08,2.014071e+07,2.014083e+07,0.014520
max,2.017103e+07,1.320000e+10,0.050880,6.379137,1.320000e+10,2.017103e+07,2.017103e+07,0.778441

In [41]:
data.currency.unique()

array(['USD', 'GBP', 'CHF', 'EUR', 'JPY'], dtype=object)

In [42]:
data.country_code.unique()

array(['T', 'N', 'M', 'Z', 'U'], dtype=object)

In [46]:
for cur  in data.currency.unique():
    country =  data.country_code[data.currency == cur]
    print country.unique()

['T']
['N']
['M']
['Z']
['U']

In [49]:
data.hedge_value.unique()

array([nan, True, False], dtype=object)

In [62]:
data.head()

,portfolio_id,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,creation_date,indicator_code,sell_date,type,hedge_value,status,return
0,PF00001002,DSK00001001,OFF00001002,B,20040720,110000000.0,T,0.02074,USD,2.332216,1.098097e+08,20040720,NaN,20040812,B,NaN,NaN,0.02496
1,PF00001003,DSK00001002,OFF00001001,A,20040709,176671000.0,N,0.02074,GBP,5.269617,1.760084e+08,20040723,NaN,20040812,C,NaN,NaN,0.05496
2,PF00001005,DSK00001004,OFF00001001,A,20040723,56474000.0,T,0.02074,USD,2.332216,5.637953e+07,20040723,NaN,20040817,A,NaN,NaN,0.02496
3,PF00001006,DSK00001005,OFF00001001,A,20040609,164813000.0,T,0.02074,USD,2.332216,1.645088e+08,20040723,NaN,20040713,A,NaN,NaN,0.02496
4,PF00001007,DSK00001005,OFF00001002,B,20040609,140800000.0,T,0.02074,USD,2.332216,1.405402e+08,20040723,NaN,20040713,B,NaN,NaN,0.02496

In [64]:
from datetime import datetime

In [67]:
sdate = data.start_date
date_new = []

In [71]:
def convert_to_date_Object(date_list):
    new_list = []
    for dates in date_list:
        cus_date = datetime.strptime(str(dates), "%Y%m%d").date()
        new_list.append(cus_date)
    return new_list

In [73]:
start_date_new = convert_to_date_Object(data.start_date)

In [75]:
sell_date_new = convert_to_date_Object(data.sell_date)

In [80]:
difference_date = [(date2-date1).days for date1,date2 in zip(start_date_new,sell_date_new)]

In [87]:
data['duration'] = difference_date

In [106]:
input_data = data[['portfolio_id','pf_category','sold','euribor_rate','currency','libor_rate','bought','indicator_code','type','hedge_value','duration','return']]

In [107]:
input_data.head()

,portfolio_id,pf_category,sold,euribor_rate,currency,libor_rate,bought,indicator_code,type,hedge_value,duration,return
0,PF00001002,B,110000000.0,0.02074,USD,2.332216,1.098097e+08,NaN,B,NaN,23,0.02496
1,PF00001003,A,176671000.0,0.02074,GBP,5.269617,1.760084e+08,NaN,C,NaN,34,0.05496
2,PF00001005,A,56474000.0,0.02074,USD,2.332216,5.637953e+07,NaN,A,NaN,25,0.02496
3,PF00001006,A,164813000.0,0.02074,USD,2.332216,1.645088e+08,NaN,A,NaN,34,0.02496
4,PF00001007,B,140800000.0,0.02074,USD,2.332216,1.405402e+08,NaN,B,NaN,34,0.02496

In [101]:
input_data.pf_category.isnull().any()

False

In [102]:
input_data.country_code.isnull().any()

False

In [105]:
input_data.indicator_code.unique()

array([nan, True], dtype=object)

In [110]:
from sklearn.preprocessing import LabelEncoder

In [130]:
pf_data = input_data.pf_category

In [132]:
number = LabelEncoder()

In [133]:
input_data.pf_category = number.fit_transform(pf_data.astype('str'),)

In [134]:
input_data.currency = number.fit_transform(input_data.currency.astype('str'))

In [117]:
cur_data

array([4, 2, 4, ..., 0, 0, 0], dtype=int64)

In [135]:
input_data.indicator_code = number.fit_transform(input_data.indicator_code.astype('str'))

In [121]:
indi_data

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [136]:
input_data.type = number.fit_transform(input_data.type.astype('str'))

In [137]:
input_data.hedge_value = number.fit_transform(input_data.hedge_value.astype('str'))

In [124]:
s

array([2, 2, 2, ..., 0, 0, 0], dtype=int64)